AddDefaultCharset UTF-8
RewriteEngine on
RewriteBase /kalender


### user pages ###

# no trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

# respond to "/kalender" with "kalender/userlist.html"
RewriteRule ^$ userlist.html

# respond to "/kalender/123" with "kalender/calendar.html"
RewriteRule ^[0-9]+$ calendar.html


### service pages ###

# respond to "/kalender/api/locations" with "kalender/locations.php"
RewriteRule ^api/locations$ locations.php

# respond to "/kalender/api/users/123" with "kalender/users.php?user_id=123"
RewriteRule ^api/users$ users.php
RewriteRule ^api/users/([0-9]+)$ users.php?user_id=$1 [QSA]

# respond to "/kalender/api/entries/123" with "kalender/entries.php?entry_id=123"
RewriteRule ^api/entries$ entries.php
RewriteRule ^api/entries/([0-9]+)$ entries.php?entry_id=$1 [QSA]
