AddDefaultCharset UTF-8
RewriteEngine on
RewriteBase /kalender

# enforce trailing slash so "kalender/2" is redirected to "kalender/2/"
RewriteCond %{REQUEST_URI} !(/$|\.)
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]

# replace "/kalender/123/" with "kalendar/calendar.html"
RewriteRule ^[0-9]+/$ calendar.html

# replace "/kalender/locations/" with "kalender/locations.php
RewriteRule ^locations/$ locations.php

# replace "/kalender/users/" with "kalender/users.php
RewriteRule ^users/$ users.php

# replace "/kalender/123/entries/" with "kalender/entries.php?user_id=123"
RewriteRule ^([0-9]+)/entries/$ entries.php?user_id=$1

# replace "/kalender/123/entries/2017-03-07" with "kalender/entries.php?user_id=123&date=2017-03-07"
RewriteRule ^([0-9]+)/entries/([0-9]{4}-[0-9]{2}-[0-9]{2})/$ entries.php?user_id=$1&date=$2

# replace "/kalender/123/xyz.png" with "kalender/xyz.png"
RewriteRule ^[0-9]+/(.+)$ $1
